PORT=8080

MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@YOURCLUSTER.mongodb.net/corbinProjectDB

SESSION_SECRET=replace_this_with_a_long_random_secret

GOOGLE_CLIENT_ID=your_google_client_id

GOOGLE_CLIENT_SECRET=your_google_client_secret

CALLBACK_URL=http://localhost:8080/auth/google/callback

NODE_ENV=development
